.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible; }

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.md-show.md-effect-1 .md-content {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }

button.md-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    outline: none;
    background: none !important;
    width: 30px !important;
    border: none;
    height: 30px;
    margin-left: 90%; }
button.md-close:hover i {
    color: #000000; }
button.md-close i {
    color: #aaaaaa; }

.md-modal {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 80%;
    max-width: 1200px;
    min-width: 310px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-30%);
    -ms-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%); }
.md-modal .md-content {
    border-radius: 5px;
    padding: 80px 100px;
    background: url("../img/sect2-bg.jpg") top center no-repeat;
    background-size: cover; }
.md-modal .md-content h2.modal-name {
    margin-top: 30px;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    font-weight: 900;
    position: relative; }
.md-modal .md-content h2.modal-name:after {
    position: absolute;
    content: '';
    background: url("../img/headline_curve.png") top left no-repeat;
    background-size: contain;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(120%);
    -ms-transform: translateY(120%);
    transform: translateY(120%);
    width: 100%;
    height: 70px; }
.md-modal .md-content form {
    position: relative; }
.md-modal .md-content form input,
.md-modal .md-content form select {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px #777777 solid;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    line-height: 26px;
    padding: 0 20px;
    margin-bottom: 30px;
    width: 100%;}
.md-modal .wpcf7 .wpcf7-submit{
    order: 6;
}
.md-modal .wpcf7-not-valid-tip{
    display: none !important;
}
.md-modal div.wpcf7 .ajax-loader{
    display: none !important;
}
.md-modal .wpcf7 form.failed .wpcf7-response-output,
.md-modal .wpcf7 form.aborted .wpcf7-response-output,
.md-modal .wpcf7 form.invalid .wpcf7-response-output,
.md-modal .wpcf7 form.unaccepted .wpcf7-response-output{
    order: 5;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    display: block;
    text-align: center;
    border: none;
    margin: 0;
    color: #ff0000;
}
.md-modal .md-content form input.wpcf7-not-valid,
.md-modal .md-content form select.wpcf7-not-valid {
    border-bottom: 1px #ff0000 solid; }
.md-modal .md-content form select {
    color: #777777; }
.md-modal .md-content form select option {
    color: #000000; }
.md-modal .md-content form textarea {
    color: #000000;
    line-height: 26px;
    width: 100%;
    background: none;
    outline: none;
    border: 1px #777777 solid;
    border-radius: 2px;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}
.md-modal .md-content form input:-moz-placeholder {
    font-size: 14px;
    color: #777777;
    font-weight: 500; }
.md-modal .md-content form input::-webkit-input-placeholder {
    font-size: 14px;
    color: #777777;
    font-weight: 500; }
.md-modal .md-content form textarea:-moz-placeholder {
    font-size: 14px;
    color: #777777;
    font-weight: 500; }
.md-modal .md-content form textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #777777;
    font-weight: 500; }
.md-modal .md-content form label.error {
    display: none !important; }
.md-modal .md-content form div.error {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 60px; }
.md-modal .md-content form div.error span {
    font-size: 12px;
    font-weight: 500;
    color: #ff0000; }
.md-modal .md-content form .button {
    background: none;
    margin: 20px auto 0;
    outline: none;
    border: none;
    cursor: pointer; }
.md-modal .md-content .title-red {
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    color: #b20027;
    text-align: center;
    padding: 20px 0; }
.md-modal .md-content p.text {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    font-weight: 300;
    margin-bottom: 50px; }
.md-modal .md-content p.text a {
    font-weight: 600;
    color: #b20027; }
.md-modal .md-content p.text a:hover {
    color: #000000; }
.md-modal .md-content .buy-button {
    padding: 25px 0;
    color: #b20027;
    background: #fff;
    border-radius: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15); }
.md-modal .md-content .buy-button:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    border-radius: 6px;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; }
.md-modal .md-content .buy-button:hover {
    -webkit-box-shadow: none;
    box-shadow: none; }
.md-modal .md-content .buy-button:hover:after {
    opacity: 1; }
.md-modal .md-content .buy-button span {
    font-weight: 800;
    font-size: 24px;
    color: #b20027;
    display: inline-block;
    margin-bottom: 20px; }
.md-modal .md-content .buy-button img {
    width: 65%; }

.modal-form p{
    width: calc(50% - 30px);
    margin: 0 15px;
}

.md-show {
    visibility: visible; }

/* Content styles */
#modal-where-to-buy .md-content p.text {
    font-size: 24px;
    line-height: 34px; }

/* Individual modal styles with animations/transitions */
@media (max-width: 1280px) {
    .md-modal .md-content {
        padding: 40px 60px; } }

@media (max-width: 1024px) {
    .md-modal {
        width: 100%; }
    .md-modal .md-content {
        padding: 60px 40px; }
    .md-modal .md-content > .flex.row {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .md-modal .md-content > .flex.row .col-4,
    .md-modal .md-content > .flex.row .col-8 {
        width: 100%; }
    .md-modal .md-content h2.modal-name {
        margin: 0 auto 120px;
        font-size: 36px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content; }
    .md-modal .md-content h2.modal-name:after {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%); }
    .md-modal .md-content p.text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 25px; }
    #modal-where-to-buy .md-content h2.modal-name {
        margin: 0 auto 120px; } }

@media (max-width: 769px) {
    .md-modal {
        height: auto;
        max-height: 100vh;
        overflow-y: auto; }
    .md-modal .md-content {
        height: 100%;
        overflow-y: auto; }
    .md-modal .md-content h2.modal-name {
        font-size: 32px;
        line-height: 42px; }
    .md-modal .md-content h2.modal-name:after {
        display: block; }
    .md-modal .md-content form .col-6 {
        width: 100%; }
    #modal-where-to-buy {
        height: auto; }
    #modal-where-to-buy .flex.row {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
    #modal-where-to-buy .col-6 {
        width: 80%; }
    #modal-where-to-buy .col-6 + .col-6 {
        margin-top: 30px; }
    #modal-where-to-buy .md-content p.text {
        font-size: 18px;
        line-height: 26px; }
    #modal-coupon {
        height: auto; }
    .md-modal .md-content h2.modal-name {
        margin: 0 auto 100px; } }

.md-modal .wpcf7 form.sent .wpcf7-response-output{
    border-color: #46b450;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px 0 0;
    z-index: 9;
    color: #000000;
    text-align: center;
}

.md-modal .wpcf7 form.sent .wpcf7-form-control-wrap,
.md-modal .md-content form.sent .button{
    opacity: .1;
}
.md-modal .wpcf7 form.sent .wpcf7-response-output{
    font-size: 16px;
}